<html>
<head>
 <title>Imagenes en HTML</title>
     <link rel="stylesheet" href="../CSS/style.page.css" type="text/css">
    </head>
        <body>
 <header><h1>Imagenes</h1></header>
 <nav>
        <ul>
          <li><a href="/Index.html">Inicio</a></li>
        <li><a href="../HTML/Lista.html">Listas</a></li>
        <li><a href="..//HTML/Enlaces%20finales.html">Enlaces</a></li>
        <li><a href="..//HTML/style.page.html">Imagenes</a></li>
        <li><a href="..//HTML/audios.html">Audio</a></li>
        <li><a href="..//HTML/video.html">Video</a></li>
        <li><a href="..//HTML/tablas.html">Tablas</a></li>
        <li><a href="..//HTML/formularios.html">Formulario</a></li>
        </ul>
 </nav>
         <main>
         <section>
         <h2 id="seccion_1">ANIMAL FAVORITO</h2>
 <p>Me encantan los osos. Hay algo en su fuerza y suavidad que me fascina. Me gusta cómo se mueven con lentitud y seguridad, como si fueran los dueños del bosque. Su pelaje suave y su mirada cálida me hacen sentir una conexión especial con ellos.

Además, me impresiona su inteligencia y capacidad para adaptarse a diferentes entornos. Desde los osos polares que navegan por el Ártico hasta los osos negros que vagan por los bosques, cada especie tiene su propia personalidad y características únicas.</p>
 <img src="../CSS/Imagenes/oso.jpeg">
 <a href="#Menu_interno"> <img id="toy" src="../CSS/Imagenes/toy.png" alt="iconotoy"></a>
     </section>
     <section>
     <h2 id="seccion_2"> SAGA DE VIDEOJUEGOS Y PERSONAJE FAVORITO</h2>
             <p>Me encanta Five Nights at Freddy's (FNAF) porque es una experiencia única que combina el terror y la emoción de manera perfecta. Desde el primer momento en que jugué, supe que era algo especial.

Me gusta cómo el juego juega con mi psicología, haciéndome sentir vulnerable y asustado en un entorno que parece inocente en un principio. Los personajes, como Freddy, Bonnie, Chica y Foxy, son terroríficos y su diseño es genial, sobre todo el personaje oculto "Fredbear".
</p>
         <p> <img id="golden"src="../CSS/Imagenes/golden.jpg"
        alt="golden"> La mecánica de juego es simple pero adictiva, y el reto de sobrevivir cinco noches es un desafío que me motiva a seguir jugando. Además, la historia detrás del juego es fascinante y me hace querer saber más sobre el universo de FNAF.</p>
             <p>Lo que realmente me atrae es la atmósfera de suspense y miedo que crea el juego. Los sonidos, las luces y la música todos contribuyen a crear una experiencia inmersiva que me hace sentir como si estuviera realmente en ese lugar.</p>
             <p>En resumen, me gusta FNAF porque es un juego que me hace sentir emocionado, asustado y curioso al mismo tiempo. Es una experiencia única que no puedo encontrar en ningún otro juego."</p>
         <p><img id="gos" src="../CSS/Imagenes/gos.jpg"
        alt="gos"> Fredbear es un personaje que me fascina por su complejidad y misterio. A primera vista, parece ser un oso adorable y amigable, pero según avanzas en la historia, descubres que hay mucho más detrás de su sonrisa.</p>
                 <p>Me gusta cómo Fredbear representa la dualidad entre la inocencia y la oscuridad. Por un lado, es un personaje diseñado para entretener a los niños, pero por otro, tiene una historia trágica y perturbadora que lo convierte en un símbolo de terror.
         Su diseño es genial, con su pelaje marrón claro y su sonrisa amplia, que me recuerda a un oso de peluche. Pero cuando se activa su modo "terrorífico", su apariencia cambia drásticamente, revelando una criatura más oscura y aterradora.
                     Lo que realmente me atrae de Fredbear es su conexión con la historia de FNAF. Su relación con los otros personajes, especialmente con Springtrap y Purple Guy, es intrigante y me hace querer saber más sobre su pasado.
                     Además, me gusta cómo Fredbear representa la idea de que incluso las cosas más inocentes pueden tener un lado oscuro. Es un recordatorio de que nada es como parece y que siempre hay más de lo que meets the eye.
         </p>
         <a href="#Menu_interno"> <img id="toy" src="../CSS/Imagenes/toy.png" alt="iconotoy"></a>
         </section>
         <section>
            <h2 id="seccion_3">WHITERED FREDDY Y SU IMPORTANCIA EN MI VIDA</h2>
         <p>Withered Freddy es más que un personaje de Five Nights at Freddy's para mí. Es un símbolo de la perseverancia y la resiliencia en medio del caos y el terror.
             Me fascina cómo Withered Freddy, a pesar de estar deteriorado y dañado, sigue siendo una fuerza formidable y aterradora en el juego. Su apariencia destrozada y su comportamiento errático me recuerdan que incluso en los momentos más oscuros, siempre hay una chispa de vida y energía que nos impulsa a seguir adelante.
             En el contexto de FNAF, Withered Freddy es un recordatorio de que la historia y el pasado pueden ser distorsionados y tergiversados, pero la esencia de lo que somos permanece. Su conexión con los eventos del juego y su papel en la narrativa me hace reflexionar sobre la importancia de entender y confrontar nuestros propios miedos y debilidades.</p>
         <img src="../CSS/Imagenes/gif%20oso.gif" alt="gifoso">
         <a href="#Menu_interno"> <img id="toy" src="../CSS/Imagenes/toy.png" alt="iconotoy"></a>
         </section>
     <section id="seccion_4">
     <h2>JUEGO FAVORITO (FNAF 1)</h2>
     <p>Five Nights at Freddy's (FNAF) se convirtió en un icono del terror para mí porque logró capturar la esencia del miedo de manera única y perturbadora. La forma en que el juego combina la atmósfera de suspense, los saltos de terror y la psicología del miedo es simplemente genial.

                Primero, el entorno del juego es perfecto para crear una sensación de claustrofobia y vulnerabilidad. Estás atrapado en una pequeña habitación, rodeado de criaturas que pueden matarte en cualquier momento. La sensación de impotencia es palpable.</p>
             <p>Luego, están los personajes en sí. Freddy, Bonnie, Chica y Foxy son criaturas terroríficas que parecen haber salido de una pesadilla. Su diseño es genial, con su apariencia de osos de peluche que se convierte en algo oscuro y aterradora.

                        Pero lo que realmente hace que FNAF sea un icono del terror es su capacidad para jugar con la psicología del jugador. El juego te hace sentir como si estuvieras perdiendo la cordura, con sonidos y movimientos que te hacen dudar de lo que está sucediendo.</p>
         <p>Además, la historia detrás del juego es fascinante y perturbadora. La idea de que estos personajes fueron creados para entretener a los niños, pero se convirtieron en criaturas asesinas, es simplemente aterradora.</p>
                     <a href="#Menu_interno"> <img id="toy" src="../CSS/Imagenes/toy.png" alt="Gato icono"></a>
                     </section>
                        <section id="Filtros_imagen">
                         <h2>FUNTIME FREDDY </h2>
                            <p>Es uno de esos personajes de Five Nights at Freddy's que realmente se destaca. Su diseño es tan llamativo y colorido, con su aspecto amigable que contrasta con el ambiente aterrador del juego. La forma en que tiene un micrófono y su compañero Bon Bon es genial; juntos tienen una dinámica divertida que añade un toque especial.</p>
                         
                        <img id="img1" src="..//imagenes/funtime.webp">
                        <img id="img2" src="..//imagenes/funtime.webp">
                        <img id="img3" src="..//imagenes/funtime.webp">
                        <img id="img6" src="..//imagenes/funtime.webp">
                        <img id="img7" src="..//imagenes/funtime.webp">
                        <img id="img8" src="..//imagenes/funtime.webp">
                        <img id="img9" src="..//imagenes/funtime.webp">
                        <img id="img10" src="..//imagenes/funtime.webp">
                        <img id="img11" src="..//imagenes/funtime.webp">
    
                        </section>
              
                    
                 <nav id="Menu_interno">
                 <ul>
                 <li><a href="#seccion_1">ANIMAL FAVORITO</a></li>
                 <li><a href="#seccion_2">SAGA DE VIDEOJUEGOS Y PERSONAJE FAVORITO </a></li>
                 <li><a href="#seccion_3">WHITERED FREDDY Y SU IMPORTANCIA EN MI VIDA </a></li>
                 <li><a href="#seccion_4">JUEGO FAVORITO (FNAF 1) </a></li>   
                     <li><a href="#Filtros_imagen">FUNTIME FREDDY </a></li>
                   
         </ul>
                      
         </nav>
 </main>
     <footer>
     <h5>Elaborado por:Yael Amador Cornelio</h5>
 </footer>
 </body>
</html> 